h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin: 0;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 0;
}

h3 {

  font-family: Montserrat, sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}

.background{
    background:#1f1924;
}

.primary{
    background:#DCB9F8;
}
.onprimary{
    background:#4B007E;
}
.primarycontainer{
    background:#8805DF;
}
.onprimarycontainer{
    background:#DFB7FF;
}
.primaryfixed{
    background:#F1DAFF;
}
.primaryfixeddim{
    background:#DFB7FF;
}
.onprimaryfixed{
    background:#2D004F;
}
.primaryfixedvariant{
    background:#6A00B1;
}

.secondary{
    background:#46E1FB;
}
.onsecondary{
    background:#00363E;
}
.secondarycontainer{
    background:#00C5DE;
}
.onsecondarycontainer{
    background:#004D58;
}
.secondaryfixed{
    background:#A0EFFF;
}
.secondaryfixeddim{
    background:#39D9F2;
}
.onsecondaryfixed{
    background:#001F25;
}
.secondaryfixedvariant{
    background:#004E59;
}

.tertiary{
    background:#CDBDFF;
}
.ontertiary{
    background:#370095;
}
.tertiarycontainer{
    background:#6B36EC;
}
.ontertiarycontainer{
    background:#E2D6FF;
}
.tertiaryfixed{
    background:#E8DDFF;
}
.tertiaryfixeddim{
    background:#20005E;
}
.ontertiaryfixed{
    background:#20005E;
}
.tertiaryfixedvariant{
    background:#5000CF;
}

.error{
    background:#FFB2BC;
}
.onerror{
    background:#670022;
}
.errorcontainer{
    background:#FF4F77;
}
.onerrorcontainer{
    background:#510019;
}

.surface{
    background:#17111B;
}
.surfacedim{
    background:#17111B;
}
.surfacebright{
    background:#3E3742;
}

.surfacecontainerlowest{
    background:#120C16;
}
.surfacecontainerlow{
    background:#1F1924;
}
.surfacecontainer{
    background:#231D28;
}
.surfacecontainerhigh{
    background:#2E2733;
}
.surfacecontainerhighest{
    background:#39323E;
}

.inversesurface{
    background:#EBDFEE;
}
.inverseonsurface{
    background:#352E39;
}
.inverseprimary{
    background:#8B0FE2;
}


.onsurface{
    background:#FFFFFF;
}
.onsurfacevariant{
    background:#FFFFFF;
}
.outline{
    background:#998CA0;
}
.outlinevariant{
    background:#4D4355;
}

.scrim{
    background:#000000;
}
.shadow{
    background:#000000;
}

.info{
    background:#B1C6FF;
}
.oninfo{
    background:#002C70;
}
.infocontainer{
    background:#00419D;
}
.oninfocontainer{
    background:#D9E2FF;
}

.warning{
    background:#FFDDB6;
}
.onwarning{
    background:#462A00;
}
.warningcontainer{
    background:#FABB68;
}
.onwarningcontainer{
    background:#462A00;
}

.success{
    background:#ECFFE5;
}
.onsuccess{
    background:#00390C;
}
.successcontainer{
    background:#0B8A2B;
}
.onsuccesscontainer{
    background:#ECFFE5;
}

.blue{
    background:#436ff4;
}
.orange {
    background:#f47348;
}

.pink {
    background:#f0598b;
}